@import "reset";
@import "fonts";
html {
  box-sizing: border-box;
  font-size: 10px;
}
*,*::before,*::after{
  box-sizing: inherit;
}
body {

  font-family: Roboto, sans-serif;
  font-style: normal;

  line-height: normal;
  font-weight: normal;
}
.wrapper {
max-width: 255rem;
  overflow: hidden;
  margin: 0 auto;
}
@import "header";


main{
  display: flex;
  justify-content: space-between;

}
@import "left-column";

