@import "reset.css";
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v20-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-300.woff2") format("woff2"), url("../fonts/roboto-v20-latin-300.woff") format("woff"), url("../fonts/roboto-v20-latin-300.ttf") format("truetype"), url("../fonts/roboto-v20-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin-regular.woff") format("woff"), url("../fonts/roboto-v20-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin-900.woff") format("woff"), url("../fonts/roboto-v20-latin-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v15-latin-regular.woff") format("woff"), url("../fonts/poppins-v15-latin-regular.ttf") format("truetype"), url("../fonts/poppins-v15-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-700.woff2") format("woff2"), url("../fonts/poppins-v15-latin-700.woff") format("woff"), url("../fonts/poppins-v15-latin-700.ttf") format("truetype"), url("../fonts/poppins-v15-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */
}
html {
  box-sizing: border-box;
  font-size: 5px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 255rem;
  min-width: 230rem;
  overflow: hidden;
  margin: 0 auto;
}

header {
  position: absolute;
  top: 72.9rem;
  z-index: 0;
}

.address {
  left: -12.329rem;
  display: flex;
  position: relative;
}
.address a {
  font-size: 3.5rem;
}

.header__left {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(96.49deg, #F15C1C 5.08%, #51CDED 100.01%);
  border-radius: 30px 20px;
  transform: matrix(0.93, 0, 0.45, 1, 0, 0);
}

.logo {
  position: relative;
  margin-left: 27.729rem;
  margin-top: 3.9rem;
  margin-bottom: 3.9rem;
  transform: skewX(-25deg);
  color: #FFFFFF;
  font-size: 8rem;
  line-height: 9.4rem;
}

h1 {
  position: absolute;
  left: -200rem;
}

.title {
  display: flex;
  margin-bottom: 1.5rem;
}

.name {
  font-weight: 900;
  margin-right: 2.1rem;
  letter-spacing: 0.005em;
}

.surname {
  font-weight: 300;
}

.subtitle {
  font-size: 3.5rem;
  line-height: 4.1rem;
  letter-spacing: 0.005em;
}

.contact {
  margin-left: 33rem;
}

.phone, .mail {
  display: flex;
  transform: skewX(-25deg);
  text-decoration: none;
  font-size: 35px;
  line-height: 41px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding-right: 12rem;
  align-items: center;
}
.phone svg, .mail svg {
  margin-right: 3rem;
}

.phone {
  margin-bottom: 2rem;
}

.header__right {
  display: flex;
  align-items: center;
  background: linear-gradient(102.76deg, #E2E0E2 18.11%, rgba(248, 247, 248, 0) 84.59%);
  border-radius: 30px 20px;
  transform: matrix(0.93, 0, 0.45, 1, 0, 0);
}

.place {
  display: flex;
  transform: skewX(-25deg);
  text-decoration: none;
  font-size: 35px;
  line-height: 41px;
  letter-spacing: 0.05em;
  color: #666666;
  padding-right: 12rem;
  align-items: center;
}
.place svg {
  margin-left: 12rem;
}
.place p {
  margin-left: 3rem;
  width: 88rem;
}

main {
  display: flex;
  justify-content: space-between;
}

.left-column {
  background: rgba(236, 236, 238, 0.4);
  max-width: 96rem;
  width: 96rem;
}
.left-column p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4.5rem;
  letter-spacing: 0.01em;
  color: #666666;
}

.left-column__wrapper {
  margin-left: 15.2rem;
  max-width: 70.2rem;
}

.photo {
  width: 100%;
  height: 95.7rem;
}
.photo img {
  width: 100%;
}

.title-text {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 4.7rem;
  line-height: 7rem;
  letter-spacing: 0.1em;
  background: linear-gradient(90deg, #56A2B9 1.89%, #5CC3CF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pro-skills {
  padding-top: 11.5rem;
}
.pro-skills h3 {
  margin-bottom: 5rem;
}

.pro-skills__list {
  width: 100%;
}

.pro-skills__frame {
  width: 100%;
  display: flex;
  position: relative;
}
.pro-skills__frame li {
  width: 100%;
  height: 9.2rem;
  padding-bottom: 17.2rem;
}
.pro-skills__frame li p {
  margin-left: 2.85rem;
  margin-bottom: 2rem;
}
.pro-skills__frame li:last-child {
  padding-bottom: 0;
}

.pro-skills__item {
  display: flex;
  position: relative;
  width: auto;
}

.pro-skills__circle {
  left: 0;
  top: 0;
  position: absolute;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  background: #56A2B9;
}

.pro-skills__empty-line {
  position: absolute;
  left: 0;
  top: 0.6rem;
  width: 100%;
  height: 2rem;
  background: #D6D6D6;
  border-radius: 2.5rem;
}

.pro-skills__full-line {
  position: absolute;
  left: 0;
  top: 0.6rem;
  height: 2rem;
  background: linear-gradient(90deg, #56A2B9 1.89%, #5CC3CF 100%);
  border-radius: 2.5rem;
}

.pro-skills__vertical-line {
  position: relative;
  left: 2rem;
  height: auto;
  border: 0.1rem dotted #5CC3CF;
}

.personal-skills {
  padding-top: 11.1rem;
}
.personal-skills h3 {
  margin-bottom: 5rem;
}

.personal-skills__skills-list {
  display: grid;
  grid-template-columns: 33rem 33rem;
  width: 100%;
}

.personal-skills__skills-item {
  margin-bottom: 5.7rem;
}

.personal-skills__star-line {
  display: flex;
  padding-top: 2rem;
}

.personal-skills__star {
  height: 2.9rem;
  width: 4rem;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: gray;
  -webkit-mask-image: url("../images/Star.svg");
  background-color: #56A2B9;
}

.personal-skills__star-inactive {
  background-color: #C4C4C4;
}

.fallow-me {
  padding-top: 5rem;
  margin-bottom: 20rem;
}
.fallow-me h3 {
  margin-bottom: 5rem;
}

.fallow-me__item a {
  display: flex;
  margin-bottom: 6rem;
}

.fallow-me__icon {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background: linear-gradient(90deg, #56A2B9 1.89%, #5CC3CF 100%);
  margin-right: 8rem;
}

.rs_school__icon {
  width: 100%;
  height: 100%;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-image: url("../images/rs-logo.svg");
  background-color: #FFFFFF;
}

.git__icon {
  width: 100%;
  height: 100%;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-image: url("../images/github-svgrepo-com.svg");
  background-color: #FFFFFF;
}

.linkedin__icon {
  width: 100%;
  height: 70%;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-image: url("../images/linkedin.svg");
  background-color: #FFFFFF;
}

.right-column p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 170%;
  font-size: 3.3rem;
  letter-spacing: 0.03em;
  color: #666666;
}

.statement {
  padding-top: 20.4rem;
  padding-left: 15.1rem;
  max-width: 135.6rem;
  height: 95.7rem;
}

.right-column__sections {
  display: flex;
  position: relative;
  padding-top: 8.49rem;
  max-width: 135.6rem;
}

.right-column__vertical-line {
  z-index: 0;
  position: relative;
  left: 17rem;
  height: auto;
  border: dotted 0.2rem white;
  background-image: linear-gradient(white, white), linear-gradient(#51CDED, #F1401C);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.nearby-with-vertical-line {
  width: 100%;
  z-index: 1;
}

.right-column__sections section {
  margin-bottom: 6rem;
}

.right-column__sections-title {
  display: flex;
  align-items: center;
  margin-left: 11.6rem;
}
.right-column__sections-title h3 {
  margin-left: 2.9rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 4.7rem;
  line-height: 7rem;
  letter-spacing: 0.1em;
  background: linear-gradient(96.49deg, #F1401C 5.08%, #51CDED 100.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sections-title-icon {
  display: flex;
  width: 10.9rem;
  height: 10.9rem;
  border-radius: 50%;
}

.sections-title-icon-outer-background {
  display: flex;
  width: 7.4rem;
  height: 7.4rem;
  margin: auto;
  border-radius: 50%;
}

.sections-title-icon-background {
  display: flex;
  margin: auto;
}
.sections-title-icon-background img {
  width: 3.3rem;
}

.sections-title-icon-inside {
  display: flex;
  margin: auto;
}
.sections-title-icon-inside img {
  width: 3.3rem;
}

.work-icon-background {
  background-color: #00C6F9;
}

.work-icon-background-light {
  background-color: #EBF6F8;
}

.education-icon-background {
  background-color: #B2786F;
}

.education-icon-background-light {
  background-color: #F0E4E2;
}

.hobby-icon-background {
  background-color: #F1401C;
}

.hobby-icon-background-light {
  background-color: #FCD9D2;
}

.paragraph-item {
  padding-top: 5rem;
}

.paragraph-list {
  margin-left: 21.1rem;
  max-width: 116.8rem;
}

.paragraph-item_title {
  display: flex;
  align-items: center;
  position: relative;
  left: -17rem;
}
.paragraph-item_title h4 {
  margin-left: 2.1rem;
  margin-bottom: 2rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 3.3rem;
  line-height: 4.9rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #262626;
}

.paragraph-item__year {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4.5%;
  letter-spacing: 0.03em;
  color: #999999;
  max-width: 7rem;
}

.paragraph-item_big-point {
  margin-left: 3.7rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
}

.paragraph-item_little-point {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: auto;
}

p.paragraph-item_subtitle {
  padding-top: 3.3rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 4.5%;
  letter-spacing: 0.03em;
  color: #9B9B9B;
  margin-bottom: 4rem;
}

.paragraph-item_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 4.5%;
  letter-spacing: 0.03em;
  /* 9b */
  color: #666666;
}
.paragraph-item_text a {
  color: blue;
  cursor: pointer;
}

.hobby_list {
  display: flex;
  justify-content: space-between;
  padding: 6rem 10rem 0 10rem;
  margin-left: 17.1rem;
  max-width: 116rem;
  margin-bottom: 13.85rem;
}

.hobby_item {
  display: grid;
}
.hobby_item p {
  margin: 0 auto;
}

.hobby_icon {
  height: 10.8rem;
  width: 10.8rem;
  border: 0.4rem dotted #666666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.hobby_icon svg {
  fill: #666666;
  width: 5.5rem;
}

.link {
  padding-top: 1rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  color: #666666;
}
.link a {
  color: blue;
}
.link li {
  display: flex;
}

.strong {
  font-weight: bold;
}

.example {
  margin-top: 2rem;
}

.example-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: blue;
  margin-left: 3rem;
}

footer {
  display: flex;
  position: relative;
  width: 285.708rem;
  height: 5.809rem;
  left: -15rem;
  background: linear-gradient(96.49deg, #F1401C 5.08%, #51CDED 100.01%);
  transform: matrix(0.93, 0, 0.45, 1, 0, 0);
}
footer p {
  color: #FFFFFF;
  margin: auto;
  font-size: 3rem;
  transform: matrix(0.93, 0, -0.45, 1, 0, 0);
  letter-spacing: 1rem;
}

.display-none {
  display: none;
}

/*# sourceMappingURL=main.css.map */
