body{
    width: 1600px;
    height: 1588px;
    background-color: skyblue;
}
header {text-align: left;top: 18px;left: 0;width: 80%;height:10%;margin-left: auto;margin-right: auto;background-color: #e2e450;}
div {
    float: left;
    /* align-items: center; */
    }
img {border-radius: 50%}
article{
    background-color: #7e8edc;
    margin-left: auto;
    margin-right: auto;
    top: 20vh;
    left: 0;
    width: 80%;
    height: 86%;
    padding-top: 1%;
    border: 1px;
    font-size: 18px;
}

table {
    width: 90%;
    margin: 5%;
    height: 90%;

}
section{
    background: #cdffe8;
    margin: 3%;
    padding-bottom: 20%;
    }

TD {
    vertical-align: top;
    padding: 0;
}
TD#leftcol {
    width: 33%;

}
TD#rightcol {

}
#spacer {
    width: 12px;
