body{
    width: 1024px;
    height: 1588px;
    background-color: skyblue;
}
header {top: 18px;width: 95%;height:10%;margin-left: auto;margin-right: auto;background-color: #e2e450;}
#face {
    float: left;
    /* align-items: center; */
    width: 10%;
    }
#header{text-align: center;
}
img {border-radius: 50%;
width:200px}
article{
    background-color: #7e8edc;
    margin-left: auto;
    margin-right: auto;
    top: 20vh;
    left: 0;
    width: 95%;
    height: 86%;
    padding-top: 1%;
    border: 1px;
    font-size: 18px;
}

table {
    width: 90%;
    margin: 5%;
    height: 90%;

}
section{
    background: #cdffe8;
    margin: 3%;
    padding-bottom: 20%;
    }

TD {
    vertical-align: top;
    padding: 0;
}
TD#leftcol {
    width: 33%;

}
TD#rightcol {

}
#spacer {
    width: 12px;
